@charset "UTF-8";

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }
  body {
  margin: auto;
  background-color: rgb(200,200,200); 
  }
  h1 {
  font-size: 2em;
  margin: 0.67em 0;
  color: #fff;
  }
  h2 {
    color: rgb(0,255,155);
  }
  .content {
    text-align: center;
    background-color: #000;
    width: 100px;
    margin: 0px 0px;
  }